@mixin clearfix() {
    // &::after {
    //   display: block;
    //   clear: both;
    //   content: "";
    // }
    &::before,
    &::after {
      content: " "; // 1
      display: table; // 2
    }
    &:after {
      clear: both;
    }
  }
  
  .clearfix {
    @include clearfix();
  }