@import "@material/drawer/mdc-drawer";


.mdc-drawer {
    @include mdc-drawer-fill-color($drawer-fill-color);
    
    &,
    .mdc-list,
    .mdc-list-item__graphic {
      @include mdc-drawer-ink-color($drawer-ink-color);
    }
}

.mdc-drawer__header {
    background-color: lighten($drawer-fill-color, 10%);
}

[dir="rtl"] [dir="ltr"] .material-icons.mdc-list-item__graphic {
  margin-left: 0 !important;
  margin-right: 32px !important;
}