
$wGray: #3d4045;
$wGreen: #248d78;
$wOrange: #f4b824;
$wBlue: #005088;
$wRed: #bc1622;

$kGreen: #85b568;
$kPurple: #5d5f89;
$kDark: #37344a;
$kLight: #f1f2f4;

$colorSuccess: $wGreen;
$colorWarning: $wOrange;
$colorDanger: $wRed;
$colorInfo: $wBlue;

$mdc-theme-primary: $kGreen;
$mdc-theme-on-primary: #ffffff;

$mdc-theme-secondary: $kPurple;
$mdc-theme-on-secondary: #ffffff;

$mdc-theme-background: $kLight;
$mdc-theme-on-background: #000000;

$mdc-theme-surface: #ffffff;
$mdc-theme-on-surface: #000000;

// $mdc-theme-text-primary-on-background: $mdc-theme-on-primary;
// $mdc-theme-text-primary-on-light: $mdc-theme-on-primary;

$drawer-fill-color: $mdc-theme-primary;
$drawer-ink-color: $mdc-theme-on-primary;

$mdc-typography-font-family: 'Poly', serif;
$mdc-typography-styles-headline1: (
    font-family: ('Kadwa', serif),
    font-style: bold,
    font-size: 3rem,
    line-height: 3rem
);
$mdc-typography-styles-headline2: (
    font-family: ('Mukta Vaani', sans-serif),
    font-size: 2rem,
    line-height: 2rem
);
