@import "variables";

@import "typography";

@import "@material/theme/mdc-theme";
@import "@material/list/mdc-list";
@import "@material/button/mdc-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/card/mdc-card";
@import "@material/textfield/mdc-text-field";

@import "clearfix";
@import "topbar";
@import "drawer";
@import "lists";
@import "switch";
@import "select";
@import "utils";

html {
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    @extend .mdc-typography;
    padding: 0;
    margin: 0;

    background-color: $mdc-theme-background;
    color: $mdc-theme-on-background;

    // @media (min-width: map-get($mdc-layout-grid-breakpoints, 'desktop')) {
    //     margin-bottom: $footerHeight;
    // }
}

#kiotlog-app > div {
    display: flex;
}

.kiotlog-wrap {
    width: 100%;
}

.kiotlog-page {
    @extend .padding-gutter;
}

.kiotlog-container {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    // height: 100%;
    padding: 0 16px;

    @include clearfix();
}

.kiotlog-container-small {
    @extend .kiotlog-container;

    max-width: 800px;

    .kiotlog-container-small {
        padding: 0;
    }
}

.device-sensor {
    
    input.mdc-text-field__input {
        height: auto;
    }

    .mdc-select--disabled {
        opacity: 1;
    }
    
    &:not(.editing) {
        input.mdc-text-field__input {
            // border-bottom-width: 0;
            border-bottom-style: none
        }
        .mdc-select--disabled .mdc-select__native-control {
            border-bottom-style: none;
            color: inherit;
        }
    }
}